/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Quicksand:300,400,500,700');

body {
    padding-top: 50px;
    margin-bottom: 50px;
    background-color: #eee;
    color: #333;
    overflow-x:hidden;
}

button {
    background: transparent;
    border: none;
}

button:active, button:focus{
    outline: 0;
}

.container {
    text-align: center;
    display : block;
    margin : auto;
}

.box {
    margin-top: 20px;
    margin-bottom: 20px;
}
h1{
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 30pt;
    margin-top: 10px;
    margin-left: 5px;
}

h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 16pt; 
    margin-top: 5px;
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt; 
    margin-top: 5px;
}

.semi-bold {
    font-weight: 500;
}

.bold{
    font-weight: 800;
}

.light{
    font-weight: 300;
}

img{    
    padding: 10px;
    display : block;
    margin : auto
}

.paint{;
       width: 500px;
}

.img{
    width: 200px;
}

.icon {
    width: 100px;
}
.divider{
    background-color: #333;
    height: 5px;
    width: 100%;
    margin-top: 30px;
}

.divider-small{
    background-color: #333;
    height: 1px;
    width: 100%;
}

.nav-container{
    background-color: #eee;
    list-style:none;
    width: 100%;
    display : block;
    margin : auto;
}

.f-nav{ 
    z-index: 9999; 
    position: fixed; 
    left: 0; 
    top: 0;     
    border-bottom: 0px solid black;
} /* this make our menu fixed top */

nav {
    height: 40px;
    background: #eee;
    font-size: 11pt;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    margin:0;
    padding:0;

}
nav ul {
    padding: 0;
    margin: auto;
    height: 40px;
}
nav li {
    display: inline;
    width: auto;
}
nav a {
    color: #333;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}
nav li a {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

nav a:hover, nav a:active, nav a:focus{
    background-color: rgba(52, 152, 219, 0.2);
    color: #333;
    text-decoration: none;
}

p {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    display : block;
    margin : auto;
}

.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

div[id^=content]{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

.portfolio{
    width: 150px;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
}

.red {
    background: url('../img/portfolio/red.png') center no-repeat;
    background-size: 200px;
}

.purple {
    background: url('../img/portfolio/purple.png') center no-repeat;
    background-size: 200px;
}

.blue {
    background: url('../img/portfolio/blue.png') center no-repeat;
    background-size: 200px;
}

.turq {
    background: url('../img/portfolio/turquoise.png') center no-repeat;
    background-size: 200px;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
    nav { 
        height: auto;
    }
    nav ul {
        display: inline-block;
        height: auto;
    }

}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
    .nav-container {

        width: 100%;
    }
    nav {
        font-size: 9pt;
    }
    nav ul {
        height: auto;
    }

    .divider { 
        width: 100%; 
    }

    h1 {
        font-size: 14pt;
    }

    h2, h3{
        font-size: 10pt;
    }

    p{
        width: 100%;
        font-size: 9pt;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 750px;
    }
}






